.booking-pannel{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: url('../public/assets/Images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left; 
}
.card {
/* position: relative; */
margin: 150px auto;
width: 70%;
padding: 20px;
box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
background-color: rgba(252, 252, 252, 0.808);
border-radius: 10px;
border: 0;
}       
.form-width{
    width: 100% !important;
}
