*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a{
    text-decoration: none;
  }
  ul,
  ol{
  list-style-type: none;
  }
  :root{
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
    --tertiary-font: 'Nunito', sans-serif;
    --primary-text-color: #11175D;
    --secondary-text-color: #64699D;
    --btn-primary-color:#5F35F5;
    --primary-bg-color:#5F35F5;
    --error:#ea6c00; 
  }
  .input-error{
    color: var(--error);
    font-size: 12px;
    font-family: var(--secondary-font);
    text-transform: capitalize;
    font-weight: 600;
  }
  .error-border{
    border: 1px solid var(--error);
  }
  